<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.emf.ecore.generated_package">
      <package
            class="org.eclipse.graphiti.examples.mm.chess.ChessPackage"
            genModel="model/chess.genmodel"
            uri="http://eclipse.org/graphiti/examples/chess">
      </package>
   </extension>
</plugin>
