<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin>
   <extension
         point="org.eclipse.ui.decorators">
      <decorator
            class="org.eclipse.emf.mint.internal.ui.source.GeneratedElementDecorator"
            id="org.eclipse.emf.mint.ui.source.GeneratedElementDecorator"
            label="%org.eclipse.emf.mint.ui.source.GeneratedElementDecorator.label"
            lightweight="true"
            state="true">
         <description>
            %org.eclipse.emf.mint.ui.source.GeneratedElementDecorator.description
         </description>
         <enablement>
            <objectClass name="org.eclipse.jdt.core.IMember"/>
         </enablement>
      </decorator>
   </extension>
   <extension
         point="org.eclipse.jdt.ui.queryParticipants">
      <queryParticipant
            class="org.eclipse.emf.mint.internal.ui.search.GenModelQueryParticipant"
            id="org.eclipse.emf.mint.ui.search.GenModelQueryParticipant"
            name="%org.eclipse.emf.mint.ui.search.GenModelQueryParticipant.name"
            nature="org.eclipse.jdt.core.javanature">
      </queryParticipant>
   </extension>
   <extension
         point="org.eclipse.ui.themes">
      <themeElementCategory
            label="%org.eclipse.emf.mint.ui.source.GeneratedElementDecorator.themeCategory.label"
            id="org.eclipse.emf.mint.ui.source.GeneratedElementDecorator">
         <description>
            %org.eclipse.emf.mint.ui.source.GeneratedElementDecorator.themeCategory.description
         </description>
      </themeElementCategory>
      <colorDefinition
            label="%org.eclipse.emf.mint.ui.GENERATED_COLOR.label"
            categoryId="org.eclipse.emf.mint.ui.source.GeneratedElementDecorator"
            value="0,0,255"
            id="org.eclipse.emf.mint.ui.GENERATED_COLOR">
         <description>
            %org.eclipse.emf.mint.ui.GENERATED_COLOR.description 
         </description>
      </colorDefinition>
      <colorDefinition
            label="%org.eclipse.emf.mint.ui.GENERATED_NOT_COLOR.label"
            categoryId="org.eclipse.emf.mint.ui.source.GeneratedElementDecorator"
            value="255,0,0"
            id="org.eclipse.emf.mint.ui.GENERATED_NOT_COLOR">
         <description>
            %org.eclipse.emf.mint.ui.GENERATED_NOT_COLOR.description 
         </description>
      </colorDefinition>
      <colorDefinition
            label="%org.eclipse.emf.mint.ui.GENERATED_NOT_CHILDREN_COLOR.label"
            categoryId="org.eclipse.emf.mint.ui.source.GeneratedElementDecorator"
            value="255,127,0"
            id="org.eclipse.emf.mint.ui.GENERATED_NOT_CHILDREN_COLOR">
         <description>
            %org.eclipse.emf.mint.ui.GENERATED_NOT_CHILDREN_COLOR.description 
         </description>
      </colorDefinition>
   </extension>
   <extension
         point="org.eclipse.jdt.ui.javaElementFilters">
      <filter
            class="org.eclipse.emf.mint.internal.ui.filters.GeneratedFilter"
            description="%org.eclipse.emf.mint.ui.filters.GeneratedFilter.description"
            enabled="false"
            id="org.eclipse.emf.mint.ui.filters.GeneratedFilter"
            name="%org.eclipse.emf.mint.ui.filters.GeneratedFilter.name">
      </filter>
      <filter
            class="org.eclipse.emf.mint.internal.ui.filters.GeneratedNotFilter"
            description="%org.eclipse.emf.mint.ui.filters.GeneratedNotFilter.description"
            enabled="false"
            id="org.eclipse.emf.mint.ui.filters.GeneratedNotFilter"
            name="%org.eclipse.emf.mint.ui.filters.GeneratedNotFilter.name">
      </filter>
      <filter
            class="org.eclipse.emf.mint.internal.ui.filters.GeneratedNoneFilter"
            description="%org.eclipse.emf.mint.ui.filters.GeneratedNoneFilter.description"
            enabled="false"
            id="org.eclipse.emf.mint.ui.filters.GeneratedNoneFilter"
            name="%org.eclipse.emf.mint.ui.filters.GeneratedNoneFilter.name">
      </filter>
   </extension>
   <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            locationURI="popup:org.eclipse.emf.codegen.ecore.genmodel.presentation.GenModelEditorID?after=open-actions">
         <menu
               id="org.eclipse.emf.mint.ui.actions.OpenForeignModelsMenu"
               label="%org.eclipse.emf.mint.ui.actions.OpenForeignModelsMenu.label">
            <dynamic
                  class="org.eclipse.emf.mint.internal.ui.actions.OpenForeignModelsMenu"
                  id="org.eclipse.emf.mint.ui.actions.OpenForeignModelsMenuContributionItem">
            </dynamic>
            <visibleWhen
                  checkEnabled="false">
               <with
                     variable="activeMenuSelection">
                  <iterate
                        ifEmpty="false">
                     <and>
                        <instanceof
                              value="org.eclipse.emf.codegen.ecore.genmodel.GenModel">
                        </instanceof>
                        <test
                              forcePluginActivation="true"
                              property="org.eclipse.emf.mint.ui.hasForeignModels"
                              value="true">
                        </test>
                     </and>
                  </iterate>
               </with>
            </visibleWhen>
         </menu>
      </menuContribution>
      <menuContribution
            locationURI="popup:org.eclipse.emf.codegen.ecore.genmodel.presentation.GenModelEditorID?after=open-actions">
         <menu
               id="org.eclipse.emf.mint.ui.actions.OpenGeneratedMenu"
               label="%org.eclipse.emf.mint.ui.actions.OpenGeneratedMenu.label">
            <dynamic
                  class="org.eclipse.emf.mint.internal.ui.actions.OpenGeneratedMenu"
                  id="org.eclipse.emf.mint.ui.actions.OpenGeneratedMenuContributionItem">
            </dynamic>
         </menu>
      </menuContribution>
      <menuContribution
            locationURI="popup:org.eclipse.emf.codegen.ecore.genmodel.presentation.GenModelEditorID?before=open-actions">
         <command
               commandId="org.eclipse.emf.mint.ui.actions.CleanGeneratedCommand"
               label="%org.eclipse.emf.mint.ui.actions.CleanGeneratedAction.label"
               style="push">
            <visibleWhen
                  checkEnabled="true">
            </visibleWhen>
         </command>
      </menuContribution>
      <menuContribution
            locationURI="popup:org.eclipse.jdt.ui.source.menu?after=codeGroup">
         <command
               commandId="org.eclipse.emf.mint.ui.source.CustomizeGeneratedMethodCommand"
               style="push">
            <visibleWhen
                  checkEnabled="true">
            </visibleWhen>
         </command>
      </menuContribution>
   </extension>
   <extension
         point="org.eclipse.ui.commands">
      <command
            id="org.eclipse.emf.mint.ui.actions.CleanGeneratedCommand"
            name="%org.eclipse.emf.mint.ui.actions.CleanGeneratedCommand.name">
      </command>
      <command
            id="org.eclipse.emf.mint.ui.source.CustomizeGeneratedMethodCommand"
            name="%org.eclipse.emf.mint.ui.source.CustomizeGeneratedMethodCommand.name">
      </command>
   </extension>
   <extension
         point="org.eclipse.ui.handlers">
      <handler
            class="org.eclipse.emf.mint.internal.ui.actions.CleanGeneratedHandler"
            commandId="org.eclipse.emf.mint.ui.actions.CleanGeneratedCommand">
         <enabledWhen>
            <or>
               <with
                     variable="activeEditorId">
                  <equals
                        value="org.eclipse.emf.codegen.ecore.genmodel.presentation.GenModelEditorID">
                  </equals>
               </with>
               <with
                     variable="selection">
                  <iterate
                        ifEmpty="false"
                        operator="and">
                     <instanceof
                           value="org.eclipse.emf.codegen.ecore.genmodel.GenBase">
                     </instanceof>
                  </iterate>
               </with>
            </or>
         </enabledWhen>
      </handler>
      <handler
            class="org.eclipse.emf.mint.internal.ui.source.CustomizeGeneratedMethodHandler"
            commandId="org.eclipse.emf.mint.ui.source.CustomizeGeneratedMethodCommand">
         <enabledWhen>
            <or>
               <with
                     variable="activeEditorId">
                  <equals
                        value="org.eclipse.jdt.ui.CompilationUnitEditor">
                  </equals>
               </with>
               <with
                     variable="selection">
                  <iterate
                        ifEmpty="false"
                        operator="and">
                     <test
                           forcePluginActivation="true"
                           property="org.eclipse.emf.mint.ui.isCustomizableMethod"
                           value="true">
                     </test>
                  </iterate>
               </with>
            </or>
         </enabledWhen>
      </handler>
   </extension>
   <extension
         point="org.eclipse.ui.activities">
      <category
            description="%org.eclipse.emf.mint.ui.activity.category.description"
            id="org.eclipse.emf.mint.ui"
            name="%org.eclipse.emf.mint.ui.activity.category.name">
      </category>
      <activity
            id="org.eclipse.emf.mint.ui.actions"
            name="%org.eclipse.emf.mint.ui.actions.activity.name">
      </activity>
      <activity
            id="org.eclipse.emf.mint.ui.source"
            name="%org.eclipse.emf.mint.ui.source.activity.name">
      </activity>
      <activity
            id="org.eclipse.emf.mint.ui.search"
            name="%org.eclipse.emf.mint.ui.search.activity.name">
      </activity>
      <categoryActivityBinding
            activityId="org.eclipse.emf.mint.ui.actions"
            categoryId="org.eclipse.emf.mint.ui">
      </categoryActivityBinding>
      <categoryActivityBinding
            activityId="org.eclipse.emf.mint.ui.source"
            categoryId="org.eclipse.emf.mint.ui">
      </categoryActivityBinding>
      <categoryActivityBinding
            activityId="org.eclipse.emf.mint.ui.search"
            categoryId="org.eclipse.emf.mint.ui">
      </categoryActivityBinding>
      <activityPatternBinding
            activityId="org.eclipse.emf.mint.ui.actions"
            pattern="org\.eclipse\.emf\.mint\.ui/org\.eclipse\.emf\.mint\.ui\.actions\..*">
      </activityPatternBinding>
      <activityPatternBinding
            activityId="org.eclipse.emf.mint.ui.source"
            pattern="org\.eclipse\.emf\.mint\.ui/org\.eclipse\.emf\.mint\.ui\.source\..*">
      </activityPatternBinding>
      <defaultEnablement
            id="org.eclipse.emf.mint.ui.actions">
      </defaultEnablement>
      <defaultEnablement
            id="org.eclipse.emf.mint.ui.source">
      </defaultEnablement>
      <defaultEnablement
            id="org.eclipse.emf.mint.ui.search">
      </defaultEnablement>
   </extension>
   <extension
         point="org.eclipse.core.expressions.propertyTesters">
      <propertyTester
            class="org.eclipse.emf.mint.internal.ui.source.GeneratedMethodPropertyTester"
            id="org.eclipse.emf.mint.ui.GeneratedMethodPropertyTester"
            namespace="org.eclipse.emf.mint.ui"
            properties="isCustomizableMethod"
            type="org.eclipse.jdt.core.IMethod">
      </propertyTester>
      <propertyTester
            class="org.eclipse.emf.mint.internal.ui.actions.GenModelPropertyTester"
            id="org.eclipse.emf.mint.ui.GenModelPropertyTester"
            namespace="org.eclipse.emf.mint.ui"
            properties="hasForeignModels"
            type="org.eclipse.emf.codegen.ecore.genmodel.GenModel">
      </propertyTester>
   </extension>
   <extension
         point="org.eclipse.ui.intro.configExtension">
      <configExtension
            configId="org.eclipse.ui.intro.universalConfig"
            content="intro/overviewExtensionContent.xml">
      </configExtension>
   </extension>
   <extension
         id="org.eclipse.emf.mint.ui.source.CodeGenTagCompletionProposalComputer"
         point="org.eclipse.jdt.ui.javaCompletionProposalComputer">
      <javaCompletionProposalComputer
            categoryId="org.eclipse.jdt.ui.javaAllProposalCategory"
            class="org.eclipse.emf.mint.internal.ui.source.CodeGenTagCompletionProposalComputer">
         <partition
               type="__java_javadoc">
         </partition>
      </javaCompletionProposalComputer>
   </extension>
   <extension
         point="org.eclipse.ui.actionSets">
      <actionSet
            id="org.eclipse.emf.mint.ui.JDTCodingActionSetExt"
            label="%org.eclipse.emf.mint.ui.JDTCodingActionSetExt.label"
            visible="false">
         <menu
               label="%SourceMenu.label"
               path="edit"
               id="org.eclipse.jdt.ui.source.menu">
		    <separator
                  name="commentGroup">
            </separator>
            <separator
                  name="editGroup">
            </separator>
            <separator
                  name="importGroup">
            </separator>
            <separator
                  name="generateGroup">
            </separator>
            <separator
                  name="codeGroup">
            </separator>
            <separator
                  name="externalizeGroup">
            </separator>
            <separator
                  name="convertGroup">
            </separator>
         </menu>
         <action
               class="org.eclipse.emf.mint.internal.ui.source.CustomizeGeneratedMethodAction"
               id="org.eclipse.emf.mint.ui.source.CustomizeGeneratedMethodAction"
               label="%org.eclipse.emf.mint.ui.source.CustomizeGeneratedMethodCommand.name"
               menubarPath="org.eclipse.jdt.ui.source.menu/codeGroup"
               style="push">
         </action>
      </actionSet>
   </extension>
   <extension
         point="org.eclipse.ui.actionSetPartAssociations">
      <actionSetPartAssociation
            targetID="org.eclipse.emf.mint.ui.JDTCodingActionSetExt">
         <part
               id="org.eclipse.jdt.ui.PackageExplorer">
         </part>
         <part
               id="org.eclipse.jdt.ui.TypeHierarchy">
         </part>
         <part
               id="org.eclipse.jdt.ui.CompilationUnitEditor">
         </part>
         <part
               id="org.eclipse.jdt.ui.ClassFileEditor">
         </part>
         <part
               id="org.eclipse.jdt.ui.ProjectsView">
         </part>
         <part
               id="org.eclipse.jdt.ui.PackagesView">
         </part>
         <part
               id="org.eclipse.jdt.ui.TypesView">
         </part>
         <part
               id="org.eclipse.jdt.ui.MembersView">
         </part>
      </actionSetPartAssociation>
   </extension>
   <extension
         point="org.eclipse.ui.editorActions">
      <editorContribution
            id="org.eclipse.emf.mint.ui.GenModelEditorContribution"
            targetID="org.eclipse.emf.codegen.ecore.genmodel.presentation.GenModelEditorID">
         <action
               class="org.eclipse.emf.mint.internal.ui.actions.CleanGeneratedAction"
               enablesFor="+"
               id="org.eclipse.emf.mint.ui.actions.CleanGeneratedAction"
               label="%org.eclipse.emf.mint.ui.actions.CleanGeneratedAction.label"
               menubarPath="org.eclipse.emf.codegen.ecore.genmodelMenuID/global-actions"
               style="push">
         </action>
      </editorContribution>
   </extension>
   <extension
         point="org.eclipse.ltk.core.refactoring.refactoringContributions">
      <contribution
            class="org.eclipse.emf.mint.internal.ui.actions.CleanGeneratedRefactoringContribution"
            id="org.eclipse.emf.mint.ui.CleanGenerated">
      </contribution>
   </extension>
   <extension
         point="org.eclipse.ui.views">
      <category
            id="org.eclipse.emf.mint.ui.category"
            name="Mint">
      </category>
      <view
            category="org.eclipse.emf.mint.ui.category"
            class="org.eclipse.emf.mint.internal.ui.views.JavaElementNavigator"
            icon="icons/cview16/generated.png"
            id="org.eclipse.emf.mint.ui.views.JavaElementNavigator"
            name="%org.eclipse.emf.mint.ui.views.JavaElementNavigator.name"
            restorable="true">
      </view>
   </extension>

</plugin>
