<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.graphiti.ui.diagramTypes">
      <diagramType
            description="Diagram Type for Graphiti Library Example"
            id="org.eclipse.graphiti.examples.library"
            name="Library Example"
            type="libraryDiagramType">
      </diagramType>
   </extension>
   <extension
         point="org.eclipse.graphiti.ui.diagramTypeProviders">
      <diagramTypeProvider
            class="org.eclipse.graphiti.examples.library.diagram.LibraryDiagramTypeProvider"
            description="Diagram Type Provider for Graphiti Library Example"
            id="org.eclipse.graphiti.examples.library"
            name="libraryDiagramTypeProvider">
         <diagramType
               id="org.eclipse.graphiti.examples.library">
         </diagramType>
      </diagramTypeProvider>
   </extension>

</plugin>
